/*Styles the whole page*/
html{
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
    background-color:whitesmoke;
    font-family: Verdana, Tahoma, sans-serif;
}
html a{
    text-decoration: none;
}
.title{
    padding-left: 2%;
}

/*-------------------------------------*/
/*styles Nav.html */
.navall{
    display: flex;
    align-items: center;
    padding: 30px 10%;
}
nav{
    list-style-type: none;
    margin: 1px;
    padding: 0;
    overflow: auto;
    background-color: rgb(37, 37, 39);
    width: 100%;
}
.logo{
    margin-left: 10px;
    cursor: pointer;
}
nav ul {
    padding: 0;
    margin:0 0 0 150px;
    list-style: none;
}
.navbar li {
    display: inline-block;
}
.navbar li a {
    width: 100px;
    display:block;
    color:white;
    text-align: center;
    padding: 20px 15px;
    text-decoration: none;
    font-size: large;

} 
.navbar li a:hover {
    background-color: rgb(71, 70, 70); 
}
.dropdown_content{
    position: absolute;
    box-shadow: 0px 8px 16px 0px;
    display: none;
    background-color: rgb(50, 50, 50);

}
.dropdown_content a{
    color: white;
    text-decoration: none;
    display: block;
}
.dropdown:hover .dropdown_content{
    display: block;
}
/*-------------------------------------*/
/*styles home.html*/
/* image and text combination layout */
.home_contents{
    display: flex;
    width: 100%;
    height: auto;
    margin: none;
    padding: 8% 0 8% 0;
}
.home_contents img{
    width: 100%;
    height: auto;
}
.home_content{
    width: 45%;
    margin: 0 2.5% 0 2.5%;
    height: auto;
}
.home_content a{
    display: block;
    background-color: rgb(37, 37, 39);
    color: white;
    min-width: 50px;
    min-height: 50px;;
    width: 50%;
    height:auto;
    text-align: center;
}
/* Text over image layout */
.home_contents2{
    margin-left: auto;
    margin-right: auto;
    padding:0px;
    width: 100%;
}
.home_contents2 img{
    width: 100%;
    height: auto;
}
.home_content2{
    position: relative;
    color: white;
    align-content: center;
    top: -350px;
    height: auto;
    padding: 0px;
    text-align: center;
    font-size: auto;
    z-index: 1;
    /* margin-bottom: -140px; */
}
.contents{
    position: relative;
    color: white;
    top: -130px;
    height: 220px;
    width: 50%;
    text-align: center;
    font-size: auto;
    z-index: 1;

    background-color: rgb(50, 50, 50);
}
.contents video{
    width: auto;
    height: 100%;
    padding: none;
}
/* bar over image layout */
.home_container{
    width:60%;
    height: auto;
    display: flex;
    margin-left: 20%;
}
.home_bg{
    background-color: rgb(37, 37, 39);
}
.home_bg2{
    background-color: whitesmoke;
}
@media screen and (max-width : 1679px){
    .contents{
        font-size: smaller;
        height: 200px;
    }
}
@media screen and (max-width : 1564px){
    .exercisenow_contenttxt{
        width: 38%;
        padding: 1%;
    }
    
}
@media screen and (max-width : 1203px){
    .exercisenow_contenttxt{
        width: 40%;
        padding: none;
    }
}
@media screen and (max-width : 1199px){
    .wrapper{
        display: block;
    }
    .exercisenow_contentvid{
        width: 100%;
        margin-bottom: -1%;
    }
    .exercisenow_contenttxt{
        width: 96%;
        margin: 0 0 2% 0;
        padding: 2%;
    }
}
/* ----------------------------------- */
/* testimonial.html */
/* padding( top | right | bottom | left ) */
.testimonial{
    width: 80%;
    height: auto;
    padding: 0% 10% 0% 10%;
}
/* ----------------------------------- */
/* about.html */
.about{
    width: 80%;
    height: auto;
    padding: 0% 10% 0% 10%;
}
.about_content img{
    width: 100%;
    height: auto;
    background-color: rgb(37, 37, 39);
}
/*-------------------------------------*/
/*styles footer.html*/
footer{
    background-color: rgb(71, 70, 70);
    align-items: center;
}
footer a{
    color: white;
    text-align: center;
    margin-top: 10px;
    margin-left:30px;
    text-decoration: none;
}
footer p{
    text-align: center;   
}
/*------------------------------------*/
/*styles routine.html*/
/*refereced from pop-up css affect from https://www.youtube.com/watch?v=k5fpqtOD530*/
.routine *, .routine *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Tahoma, sans-serif;
}
.routine a p{
    text-align: center;
    padding: 20px;
    border: 0.5px solid rgba(0, 0, 0, 0.8);
    text-decoration: none;
    font-size: large;
    font-weight: bold;
    background-color: white;
}
.routine {
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr)); /*displays the contents in grid, while keeping the*/
    /*size of the images the same. This line also automatically positions thecontent in the page when it resizes.  */
    width: 100%;
    height: auto;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}
.routine_content{
    width: 400px;
    height: auto;
    position: relative;
    background-color: white;
    margin: 10px auto;
    z-index: 0;
}
.routine_content img{
    max-width: 100%;
    height: auto;
    object-fit: cover;
    margin: auto;
    padding: auto;
}
/*specifies the position of the content that appears in certain action(hover in this case)*/
.routine_content::before, .routine_content::after{
    content:"";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 85px;
    transition: all 0.5s ease-out;
}
/* Creates the while border that appears and disappears in a certain action (hover in this case below) */
.routine_content::before{
    border-top: 2px groove white;
    border-bottom: 2px groove white;
    transform: scale(0,1);
}
.routine_content::after{
    border-top: 2px groove white;
    border-bottom: 2px groove white;
    transform: scale(1,0);
}
/* Creates the transition motion affect on the routine page, that is set in the code above */
.routine_content:hover::before{
    background-color: rgba(0,0,0,0.4);
    transform: scale(1, 1);
}
.routine_content:hover::after{
    background-color: rgba(0,0,0,0.4);
    transform: scale(1, 1);
}
.routine_description{
    position: absolute;
    color: white;
    bottom: 0;
    top: 10px;
    width: 400px;
    height: auto;
    padding: 90px 30px;
    display: none;
    text-align: center;
    font-size: auto;
    z-index: 1;
    pointer-events: none;
}
.routine_description a::after{
    text-decoration:none;
    margin: 0;
    padding: 0;
    position: relative;
    top: 10px;
    bottom: 80px;
}
.routine_content:hover .routine_description{
    display: block;
}

/*------------------------------------*/
/*styles exercisenow.html and workout_help.html*/
.exercisenow{
    overflow: auto;
    width: 90%;
    height: auto;
    margin: 0 0 0 5%;
}
.exercisenow video{
    width: 100%;
}
.exercisenow_contenttxt{
    width: 30%;
    float: left;
    height: auto;
    background-color: rgb(50, 50, 50);
    margin-bottom: 1.25%;
    font-size: smaller;
    padding: 5%;  
    color: white;
}
.exercisenow_contenttxt_desc{
    width: 100%;
    height: 100%;
    justify-content: center;
    overflow: auto;
}
.exercisenow_contenttxt_reps{
    width: 100%;
    height: 20%;
    justify-content: center;
    text-align: center;
}
.exercisenow_contentvid{
    width:60%;
    float: left;
    height: auto;
    margin-bottom: 1%;
}
.wrapper{
    display: flex;
    max-height: 600px;
}
/*------------------------------------*/
/*styles images_copyrights.html*/
.container *, .container *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Tahoma, sans-serif;
}
.container{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    width: 100%;
    height: auto;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}
.box{
    width: 400px;
    height: auto;
    position: relative;
    background-color: white;
    margin: 10px auto;
    z-index: 0;
}
.container video{
    width: 100%;
    height: auto;
    z-index: 0;
}
.box img{
    max-width: 100%;
    height: auto;
    object-fit: cover;
}
/*specifies the position of the content that appears in certain action(hover in this case)*/
.box::before, .box::after{
    content:"";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    transition: all 0.5s ease-out;
}
/* Creates the while border that appears and disappears in a certain action (hover in this case below) */
.box::before{
    border-top: 2px groove white;
    border-bottom: 2px groove white;
    transform: scale(0,1);
}
.box::after{
    border-top: 2px groove white;
    border-bottom: 2px groove white;
    transform: scale(1,0);
}
/* Creates the transition motion affect on the routine page, that is set in the code above */
.box:hover::before{
    background-color: rgba(0,0,0,0.4);
    transform: scale(1, 1);
}
.box:hover::after{
    background-color: rgba(0,0,0,0.4);
    transform: scale(1, 1);
}
.imgtext{
    position: absolute;
    color: white;
    bottom: 0;
    width: 400px;
    height: auto;
    padding: 90px 30px;
    display: none;
    text-align: center;
    z-index: 1;
}
.box:hover .imgtext{
    display: block;
}
/*-------------------------------------*/
/*styles help.html*/
.help{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    width: 100%;
    height: auto;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}
.help a{
    text-align: center;
}
/*-------------------------------------*/
/*about.html*/
