html{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color:whitesmoke;
    font-family: Verdana, Tahoma, sans-serif;
}
/* Nav.html */
.navall{
    display: flex;
    align-items: center;
    padding: 30px 10%;
}
nav{
    list-style-type: none;
    margin: 1px;
    padding: 0;
    overflow: auto;
    background-color: rgb(37, 37, 39);
    width: 100%;
}
.logo{
    margin-left: 10px;
    cursor: pointer;
}
nav ul {
    padding: 0;
    margin:0 0 0 150px;
    list-style: none;
}
.navbar li {
    display: inline-block;

}
  
.navbar li a {
    width: 100px;
    display:block;
    color:white;
    text-align: center;
    padding: 20px 15px;
    text-decoration: none;
    font-size: large;
}
  
.navbar li a:hover {
    background-color: rgb(71, 70, 70); 
}
/*-------------------------------------*/
/*home.html*/
.homepic{
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;    
}
.homepic video{
    width: 100%;
    height: auto;
}
/*-------------------------------------*/
/*header.html*/
/*-------------------------------------*/
/*footer.html*/
footer{
    background-color: rgb(71, 70, 70);
    align-items: center;
}
footer a{
    color: white;
    text-align: center;
    margin-top: 10px;
    margin-left:30px;
    text-decoration: none;
}
footer p{
    text-align: center;
    
}

/*------------------------------------*/
/*routine.html*/
.routine a{
    text-align: center;
    padding: 20px;
    border: 0.5px solid rgba(0, 0, 0, 0.8);
    text-decoration: none;
    font-size: large;
    font-weight: bold;
    background-color: white;
}


.routine a:hover{
    background-color: whitesmoke;
}
.routine {
    display: grid;
    grid-template-columns: auto auto auto auto;
    width: 100%;
    grid-column-gap: 10px;
    grid-row-gap:10px;
    margin: 10px 0 10px 0;
}
.routine a img{
    margin: auto;
    padding: auto;
}

/*------------------------------------*/
/*exercisenow.html*/
.exercisenow{
    display: block;
    overflow: auto;
}
/*------------------------------------*/
/*images_copyrights.html*/
.container{
    position: relative;
    text-align: center;
}

.imgtext{
    position: absolute;
    z-index: 1;
    bottom: 8;
    right: 16;
}
.container video{
    position: relative;
    z-index: 0;
}