html{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color:whitesmoke;
    font-family: Verdana, Tahoma, sans-serif;
}
/* Nav.html */
.navall{
    display: flex;
    align-items: center;
    padding: 30px 10%;
}
nav{
    list-style-type: none;
    margin: 1px;
    padding: 0;
    overflow: auto;
    background-color: rgb(37, 37, 39);
    width: 100%;
}
.logo{
    margin-left: 10px;
    cursor: pointer;
}
nav ul {
    padding: 0;
    margin:0 0 0 150px;
    list-style: none;
}
.navbar li {
    display: inline-block;

}
  
.navbar li a {
    width: 100px;
    display:block;
    color:white;
    text-align: center;
    padding: 20px 15px;
    text-decoration: none;
    font-size: large;
}
  
.navbar li a:hover {
    background-color: rgb(71, 70, 70); 
}
/*-------------------------------------*/
/*home.html*/
.homepic{
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;    
}
.homepic video{
    width: 100%;
    height: auto;
}
/*-------------------------------------*/
/*header.html*/
/*-------------------------------------*/
/*footer.html*/
footer{
    background-color: rgb(71, 70, 70);
    align-items: center;
}
footer a{
    color: white;
    text-align: center;
    margin-top: 10px;
    margin-left:30px;
    text-decoration: none;
}
footer p{
    text-align: center;
    
}

/*------------------------------------*/
/*routine.html*/
.routine a{
    text-align: center;
    padding: 20px;
    border: 0.5px solid rgba(0, 0, 0, 0.8);
    text-decoration: none;
    font-size: large;
    font-weight: bold;
    background-color: white;
}


.routine a:hover{
    background-color: whitesmoke;
}
.routine {
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    width: 100%;
    height: auto;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}
.routine a img{
    margin: auto;
    padding: auto;
    width: 100%;
    height: auto;

}

/*------------------------------------*/
/*exercisenow.html*/
.exercisenow{
    overflow: auto;
    width: 90%;
    height: auto;
}

/*------------------------------------*/
/*images_copyrights.html and routine.html*/
.container *, .container *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Tahoma, sans-serif;
}
.container{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    width: 100%;
    height: auto;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}
.box{
    width: 400px;
    height: auto;
    position: relative;
    background-color: white;
    margin: 10px auto;

}
.container video{
    width: 100%;
    height: auto;
    z-index: 0;
}
.box img{
    max-width: 100%;
    height: auto;
    object-fit: cover;
}
.box::before, .box::after{
    content:"";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    transition: all 0.5s ease-out;
}
.box::before{
    border-top: 2px dashed white;
    border-bottom: 2px dashed white;
    transform: scale(0,1);
}
.box::after{
    border-top: 2px dashed white;
    border-bottom: 2px dashed white;
    transform: scale(1,0);
}
.box:hover::before{
    background-color: rgba(0,0,0,0.4);
    transform: scale(1, 1);
}
.box:hover::after{
    background-color: rgba(0,0,0,0.4);
    transform: scale(1, 1);
}
.imgtext{
    position: absolute;
    color: white;
    bottom: 0;
    width: 400px;
    height: auto;
    padding: 90px 30px;
    display: none;
    text-align: center;
}
.box:hover .imgtext{
    display: block;
}
/*-------------------------------------*/
/*help.html*/
.help{
    display: grid;
    grid-template-columns: auto auto auto;
    width: 100%;
    height: auto;
    text-align: center;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}