{% extends 'layout.html' %}

{% block content %}
<div class="about_content">
    <h2>About NoExcuse</h2>
    <p>My goal is to help and support the people who wants to be fit, but doesn't know where to start from.</p>

    <p>I think being fit is really important as it affects health, impressions and convinience in living our life.</p>

    <h2>Why NoExcuse?</h2>
    <p>My website has compeletly free workout routines for you to follow to be fit, including workouts mostly done without much 
    equipment and some detailed help documentations for the people that needs help. Even though it might not be as professinal
    as other big companies, it will somtimes be a better choice to go with our website if you are just starting your fitness life.</p>
</div>
{% endblock %}