{% extends 'layout.html' %}

{% block content %}
<div class="about">
<div class="about_content">
    <!-- Header paragraph -->
    <h2>About NoExcuse</h2>
    <p>My goal is to help and support the people who wants to be fit, but doesn't know where to start from.</p>
    <p>I think being fit is really important as it affects health, impressions and convinience in living our life.</p>
</div>
<div class="about_content">
    <img src="/static/logo/1587433454993.png" width="1920" height="1080">
    <!-- p2 -->
    <h2>How did the name "NoExcuse" start?</h2>
    <p>While building the website, I came up with the name NoExcuse because I believe perservernce is the key in fitness. 
        I also believe that excuses also grow like habits, and I do because I have an experience of this before. Because I 
        wanted to remined people who are making excuses because they don't want to exercise, I decidede to name the site "NoExcuse". 
    </p>
</div>
<div class="about_content">
    <!-- p3 -->
    <h2>Why choose NoExcuse?</h2>
    <p>My website has compeletly free workout routines for you to follow to be fit, including workouts mostly done without much 
    equipment and some detailed help documentations for the people that needs help. Even though it might not be as professinal
    as other big companies, it will somtimes be a better choice to go with our website if you are just starting your fitness life.</p>
</div>
<div class="about_content">
    <!-- Staff information -->
    <h2>Staff profile</h2>
    <h4>CEO: Brendan Choi</h4>
    <img src="nothing" width="1280" height="720" alt="Photo of the boss">
    <h4>Model: Jun Ku</h4>
    <img src="/static/pictures to be replaced/armsfolded.jpg" width="1280" height="720" alt="photo of JUN">
</div>
</div>
{% endblock %}