{% extends 'layout.html' %}
{% block title %}Contact us{% endblock %}
{% block content %}
<!-- html for information_layout page -->
<div class="information_layout"> <!-- straight forward vertical layout, width 80%--> 
    <div class="information_layout_element"><!-- contents  -->
    <h2>Contact Us</h2>
    <p>have any questions or inquires for our website?</p>
    <p>Contact us through</p>
    <ul>
        <li>brendanchoi0626@gmail.com</li>
        <li>0220368384</li>
    </ul>
    <p>Please leave your name, last name, and phone numbers with your inquiry, and we will 
        be in touch as soon as we can :) - NoExcuse Team
    </p>
    <img src="/static/logo/1587433454993.png">
    </div>
</div>
{% endblock %}