{% extends 'layout.html' %}

{% block content %}   
    <div class="exercisenow">
        <!-- Description of a selected routine -->
        {{description|safe}}
        <!-- shows the details of the selected workout-->
        {% for exercise in exercisenow %}
        <div class="wrapper">
            <div class="exercisenow_contentvid">
                <!-- The instruction video for the certain exercise -->
                <video controls><source src="/static/Exercise_Video/{{exercise[0]}}.mp4" type="video/mp4"></video>
            </div>
            
            <div class="exercisenow_contenttxt">
                <!-- The specific description of a specific exercise. -->
                <div class="exercisenow_contenttxt_desc">
                    <p>{{exercise[4]|safe}} </p>
                </div>
                <!-- currently not using for the better layout -->
                <!-- The reccomanded reps and, and sets for each of the exercises.  -->
                <!-- <div class="exercisenow_contenttxt_reps"> -->
                    <!-- <p>Reps: {{exercise[1]}}</p> -->
                    <!-- <p>Cooldown-Terms: {{exercise[3]}}</p> -->
                    <!-- <p>Sets: {{exercise[2]}}</p>   -->
                <!-- </div> -->
            </div>
        </div>        
        {% endfor %}
    </div>
{% endblock %}