{% extends 'layout.html' %}
{% block title %}Exercise{% endblock %}
{% block content %}   
<!-- html for exercisenow page -->
<div class="exercise_layout"><!-- page layout for exercise page width 90%-->

    {{description|safe}}
    {% for exercise in exercisenow %}
    <div class="exercise_layout_element"><!-- horizontal layout for video and text -->
        <div class="exercise_layout_element_vid"><!-- The instruction video for the certain exercise -->
            <video controls><source src="/static/Exercise_Video/{{exercise[0]}}.mp4" type="video/mp4"></video>
        </div>         
        <div class="exercise_layout_element_text"><!-- The specific description of a specific exercise. -->
            <div class="exercise_layout_element_text_desc">
                <p>{{exercise[1]|safe}} </p>
            </div>
        </div>
    </div>        
    {% endfor %}
    
</div>
{% endblock %}