<!-- html for footer -->
<div> <!-- footer elements -->
    <footer><a href="/routine">Routine</a></footer>
    <footer><a href="/help">Help</a></footer>
    <footer><a href="/testimonial">Testimonial</a></footer>
    <footer><a href="/about">About</a></footer>
    <footer><a href="#ContactUs">Contact Us</a></footer>
    <footer><a href="/images_copyrights">Image Source</a></footer>
    <footer><p>Copyright &copy; Workout Group Ltd. This website 
        is for people who are eager to burn some fat, and become 
        buff. You are not allowed to copy any materials that appear 
        on this page, because obviously, it has a copyright. So 
        please be respectful. Owner, Brendan Choi</p></footer>
</div>