{% extends 'layout.html' %}
{% block title %}Help Exercise Routines{% endblock %}
{% block content %}
<!-- html for help page -->
<h1 class="title"><strong>Cannot perform an exercise? We can help.</strong></h1>
<div class="gridview_layout"><!-- Page is layed out in a grid format -->
    {% for h in help %}
    <div class="gridview_layout_element"><!-- contents are here -->         
        <a href="/workout_help/{{ h[0] }}"><!-- description of a specific help, it's image and its link -->
        <img src="/static/pictures to be replaced/{{ h[1] }}.jpg" height="400px" width="400px"><p>{{ h[1] }}</p></a>
        <div class="gridview_layout_element_text"><!-- text in here will appear with fade affect on Hover -->
            <p>Help and alteratives for {{ h[1] }}</p> 
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %} 