{% extends 'layout.html' %}

{% block content %}
    <h1 class="title"><strong>Cannot perform an exercise? We can help.</strong></h1>
    <div class="routine">
        <div class="routine_content">
            <!-- returns all the links that leads to a specific workout help page -->          
            <a href="/workout_help/{{ (help[0])[0] }}"><img src="/static/pictures to be replaced/{{ (help[0])[1] }}.jpg" height="400px" width="400px"><p>{{ (help[0])[1] }}</p></a>
            <div class="routine_description"> 
                <p>Help and alteratives for {{ (help[0])[1] }}</p> 
            </div>
        </div>
        <div class="routine_content">
            <!-- returns all the links that leads to a specific workout help page -->          
            <a href="/workout_help/{{(help[1])[0]}}"><img src="/static/pictures to be replaced/{{ (help[1])[1] }}.jpg" height="400px" width="400px"><p>{{ (help[1])[1] }}</p></a>
            <div class="routine_description"> 
                <p>Help and alteratives for {{ (help[1])[1] }}</p> 
            </div>
        </div>
        <div class="routine_content">
            <!-- returns all the links that leads to a specific workout help page -->          
            <a href="/workout_help/{{(help[2])[0]}}"><img src="/static/pictures to be replaced/{{ (help[2])[1] }}.jpg" height="400px" width="400px"><p>{{ (help[2])[1] }}</p></a>
            <div class="routine_description"> 
                <p>Help and alteratives for {{ (help[2])[1] }}</p> 
            </div>
        </div>
        <div class="routine_content">
            <!-- returns all the links that leads to a specific workout help page -->          
            <a href="/workout_help/{{(help[3])[0]}}"><img src="/static/pictures to be replaced/{{ (help[3])[1] }}.jpg" height="400px" width="400px"><p>{{ (help[3])[1] }}</p></a>
            <div class="routine_description"> 
                <p>Help and alteratives for {{ (help[3])[1] }}</p> 
            </div>
        </div>
        <div class="routine_content">
            <!-- returns all the links that leads to a specific workout help page -->          
            <a href="/workout_help/{{(help[4])[0]}}"><img src="/static/pictures to be replaced/{{ (help[4])[1] }}.jpg" height="400px" width="400px"><p>{{ (help[4])[1] }}</p></a>
            <div class="routine_description"> 
                <p>Help and alteratives for {{ (help[4])[1] }}</p> 
            </div>
        </div>
        <div class="routine_content">
            <!-- returns all the links that leads to a specific workout help page -->          
            <a href="/workout_help/{{(help[5])[0]}}"><img src="/static/pictures to be replaced/{{ (help[5])[1] }}.jpg" height="400px" width="400px"><p>{{ (help[5])[1] }}</p></a>
            <div class="routine_description"> 
                <p>Help and alteratives for {{ (help[5])[1] }}</p> 
            </div>
        </div>

    </div>
{% endblock %} 