{% extends 'layout.html' %}
{% block title %}Image Sources{% endblock %}
{% block content %}
<!-- html for the image copyright page -->
<!-- Section 1 -->
<!-- Resource for the videos that I have made with modifications -->
<h1>Image Sources</h1>

<h3>Moving images on HomeScreen</h3>
<div class="gridview_layout"><!-- Page is layed out in a grid format -->

    <div class="gridview_layout_element"><!-- contents under this are displayed in grid format -->
        <video width="960" height="540" autoplay loop>
            <source src="/static/videos with inspirational qoutes/man-2037255.mp4"> 
        </video>
        <div class="gridview_layout_element_text">
            <p>Source: EliasSch from pixabay</p><!-- Text that appears on the hover on video -->
        </div>
    </div>

    <div class="gridview_layout_element">
        <video width="960" height="540" autoplay loop>
            <source src="/static/videos with inspirational qoutes/training-828726.mp4">
        </video>
        <div class="gridview_layout_element_text">
            <p>Source: scottwebb from pixabay</p>
        </div>
    </div>

    <div class="gridview_layout_element">
        <video width="960" height="540" autoplay loop>
            <source src="/static/videos with inspirational qoutes/video-for-website.mp4.mp4">
        </video>
        <div class="gridview_layout_element_text">
            <p>Source: StockSnap from pixabay</p>
        </div>
    </div>

    <div class="gridview_layout_element">
        <video width="960" height="540" autoplay loop>
            <source src="/static/videos with inspirational qoutes/video_for_website2.mp4.mp4">
        </video>
        <div class="gridview_layout_element_text">
            <p>Source: scottwebb from pixabay</p>
        </div>
    </div>

    <div class="gridview_layout_element">
        <video width="960" height="540" autoplay loop>
            <source src="/static/videos with inspirational qoutes/video_for_Website5.mp4.mp4">
        </video>
        <div class="gridview_layout_element_text">
            <p>Source: fvzal from pikrepo</p>
        </div>
    </div>

    <div class="gridview_layout_element">
        <video width="960" height="540" autoplay loop>
            <source src="/static/videos with inspirational qoutes/woman-1822459.mp4">
        </video>
        <div class="gridview_layout_element_text">
            <p>Source: sasint from pixabay </p>
        </div>
    </div>

</div>
<!---------------------------------------------------------------------------------------------------------------------------------------------------------->
<!-- Section 2 -->
<!-- Resource for the images that I jave used on my website -->

<h3>Other Images used</h3>
<div class="gridview_layout"><!-- Page is layed out in a grid format -->

    <div class="gridview_layout_element"><!-- contents under this are displayed in grid format -->
        <img src="/static/Pictures for routine page/arm.jpg" alt="arm.jpg">
        <div class="gridview_layout_element_text">
            <p>Source: daniel64 from pixabay</p><!-- Text that appears on the hover on picture -->
        </div>
    </div>

    <div class="gridview_layout_element">
        <img src="/static/Pictures for routine page/back.jpg" alt="back.jpg">
        <div class="gridview_layout_element_text">
            <p>Source: lukaszdylka from pixabay</p>
        </div>
    </div>

    <div class="gridview_layout_element">
        <img src="/static/Pictures for routine page/upperbody.jpg" alt="upperbody.jpg">
        <div class="gridview_layout_element_text">
            <p>Source: beachbodydc from pixabay</p>
        </div>
    </div>

    <div class="gridview_layout_element">
        <img src="/static/Pictures for routine page/legs.jpg" alt="legs.jpg">
        <div class="gridview_layout_element_text">
            <p>Source: happyveganfit from pixabay</p>
        </div>
    </div>

    <div class="gridview_layout_element">
        <img src="/static/Pictures for routine page/abs.jpg" alt="abs.jpg">
        <div class="gridview_layout_element_text">
            <p>Source: ArielHii from pixabay</p>
        </div>
    </div>
    
    <div class="gridview_layout_element">
        <img src="/static/Pictures for routine page/10min_fire.jpg" alt="10min_fire.jpg">
        <div class="gridview_layout_element_text">
            <p>Source: StockSnap from pixabay</p>
        </div>
    </div>

    <div class="gridview_layout_element">
        <img src="/static/Pictures for routine page/all_combined.jpg" alt="all_combined.jpg">
        <div class="gridview_layout_element_text">
            <p>Source: TheDigitlArtist from pixabay</p>
        </div>
    </div>

    <div class="gridview_layout_element">
        <img src="/static/Pictures for routine page/core.jpg" alt="core.jpg">
        <div class="gridview_layout_element_text">
            <p>Source: victorious from pixabay</p>
        </div>
    </div>

    <div class="gridview_layout_element">
        <img src="/static/Pictures for routine page/5min_destroyer.jpg" alt="5min_destroyer.jpg">
        <div class="gridview_layout_element_text">
            <p>Source: Pexels from pixabay</p>
        </div>
    </div>

    <div class="gridview_layout_element">
        <img src="/static/Pictures for routine page/arm(hard).jpg" alt="arm(hard).jpg">
        <div class="gridview_layout_element_text">
            <p>Source: 5132824 from pixabay</p>
        </div>
    </div>

    <div class="gridview_layout_element">
        <img src="/static/Pictures for routine page/back(hard).jpg" alt="back(hard).jpg">
        <div class="gridview_layout_element_text">
            <p>Source: Pavel-Jurca from pixabay</p>
        </div>
    </div>

    <p>pop-up css affect from https://www.youtube.com/watch?v=k5fpqtOD530</p>
</div>
{% endblock %}