{% extends 'layout.html' %}

{% block content %}
<h>Moving images on HomeScreen</h>
<div class="container">
    <video width="960" height="540" autoplay loop>
        <source src="/static/videos with inspirational qoutes/man-2037255.mp4">
    </video>
    
    <video width="960" height="540" autoplay loop>
        <source src="/static/videos with inspirational qoutes/training-828726.mp4">
    </video>

    <video width="960" height="540" autoplay loop>
        <source src="/static/videos with inspirational qoutes/video-for-website.mp4.mp4">
    </video>
    
    <video width="960" height="540" autoplay loop>
        <source src="/static/videos with inspirational qoutes/video_for_website2.mp4.mp4">
    </video>

    <video width="960" height="540" autoplay loop >
        <source src="/static/videos with inspirational qoutes/video_for_Website4.mp4">
    </video>

    <video width="960" height="540" autoplay loop>
        <source src="/static/videos with inspirational qoutes/video_for_Website5.mp4.mp4">
    </video>

    <video width="960" height="540" autoplay loop>
        <source src="/static/videos with inspirational qoutes/woman-1822459.mp4">
    </video>

</div>
<div class="imgtext">
    <p>Source: EliasSch from pixabay</p>
    <p>Source: scottwebb from pixabay</p>
    <p>Source: StockSnap from pixabay</p>
    <p>Source: scottwebb from pixabay</p>
    <p>Source: from pixabay</p>
    <p>Source: from pixabay</p>
    <p>Source: sasint from pixabay</p>
</div>


{% endblock %}