{% extends 'layout.html' %}

{% block content %}
<h1>Image Sources</h1>
<h3>Moving images on HomeScreen</h3>
<div class="container">
    <div class="box">
        <video width="960" height="540" autoplay loop>
            <source src="/static/videos with inspirational qoutes/man-2037255.mp4">
        </video>
        <div class="imgtext">
            <p>Source: EliasSch from pixabay</p>
        </div>
    </div>
    <div class="box">
        <video width="960" height="540" autoplay loop>
            <source src="/static/videos with inspirational qoutes/training-828726.mp4">
        </video>
        <div class="imgtext">
            <p>Source: scottwebb from pixabay</p>
        </div>
    </div>
    <div class="box">
        <video width="960" height="540" autoplay loop>
            <source src="/static/videos with inspirational qoutes/video-for-website.mp4.mp4">
        </video>
        <div class="imgtext">
            <p>Source: StockSnap from pixabay</p>
        </div>
    </div>
    <div class="box">
        <video width="960" height="540" autoplay loop>
            <source src="/static/videos with inspirational qoutes/video_for_website2.mp4.mp4">
        </video>
        <div class="imgtext">
            <p>Source: scottwebb from pixabay</p>
        </div>
    </div>
    <div class="box">
        <video width="960" height="540" autoplay loop>
            <source src="/static/videos with inspirational qoutes/video_for_Website5.mp4.mp4">
        </video>
        <div class="imgtext">
            <p>Source: fvzal from pikrepo</p>
        </div>
    </div>
    <div class="box">
        <video width="960" height="540" autoplay loop>
            <source src="/static/videos with inspirational qoutes/woman-1822459.mp4">
        </video>
        <div class="imgtext">
            <p>Source: sasint from pixabay</p>
        </div>
    </div>

</div>

<h3>Other Images used</h3>
<div class="container">
    <div class="box">
        <img src="/static/Pictures for routine page/arm-crop.jpg">
        <div class="imgtext">
            <p>Source: daniel64 from pixabay</p>
        </div>
    </div>
    <div class="box">
        <img src="/static/Pictures for routine page/back-crop.jpg">
        <div class="imgtext">
            <p>Source: lukaszdylka from pixabay</p>
        </div>
    </div>
    <div class="box">
        <img src="/static/Pictures for routine page/upperbody-crop.jpg">
        <div class="imgtext">
            <p>Source: beachbodydc from pixabay</p>
        </div>
    </div>
    <div class="box">
        <img src="/static/Pictures for routine page/legs-crop.jpg">
        <div class="imgtext">
            <p>Source: happyveganfit from pixabay</p>
        </div>
    </div>
    <div class="box">
        <img src="/static/Pictures for routine page/abs-crop.jpg">
        <div class="imgtext">
            <p>Source: ArielHii from pixabay</p>
        </div>
    </div>
    <div class="box">
        <img src="/static/Pictures for routine page/10min_fire-crop.jpg">
        <div class="imgtext">
            <p>Source: StockSnap from pixabay</p>
        </div>
    </div>
    <div class="box">
        <img src="/static/Pictures for routine page/all_combined-crop.jpg">
        <div class="imgtext">
            <p>Source: TheDigitlArtist from pixabay</p>
        </div>
    </div>
    <div class="box">
        <img src="/static/Pictures for routine page/core-crop.jpg">
        <div class="imgtext">
            <p>Source: victorious from pixabay</p>
        </div>
    </div>
    <div class="box">
        <img src="/static/Pictures for routine page/5min_destroyer-crop.jpg">
        <div class="imgtext">
            <p>Source: Pexels from pixabay</p>
        </div>
    </div>
    <div class="box">
        <img src="/static/Pictures for routine page/arm(hard)-crop.jpg">
        <div class="imgtext">
            <p>Source: 5132824 from pixabay</p>
        </div>
    </div>
    <div class="box">
        <img src="/static/Pictures for routine page/back(hard)-crop.jpg">
        <div class="imgtext">
            <p>Source: Pavel-Jurca from pixabay</p>
        </div>
    </div>
</div>
</div>
{% endblock %}