<!-- html for navigation bar -->
<div class="navall"><!-- component is layedout horizontaly -->
<div class ="logo"><a href ="/"><!-- logo button that gets you to home page -->
   <img src ="/static/logo/1587433454993.png" height="120" width="240"></a></div>
<nav>
   <ul class="navbar"><!-- dropdown button -->
      <li class="dropdown"><a>Exercise <i class="fa fa-caret-down" style="color: white;"></i></a>       
         <div class="dropdown_content">
            <a href="/routine">Routine</a>
            <a href="/help">Help</a>
         </div>
      </li>
      <!-- other buttons -->
      <li class="nav_other"><a href="/testimonial">Testimonial</a></li>
      <li class="nav_other"><a href="/about">About</a></li>
      <li class="nav_other"><a href="#ContactUs">Contact Us</a></li>     
   </ul>  
</nav>
</div>

