<div class="navall">
<!-- logo that is clickable, and that takes you back to the homepage -->
<div class ="logo"><a href ="/"><img src ="/static/logo/1587433454993.png" height="120" width="240"></a></div>
<nav>
   <!-- Other navbar contents -->
   <ul class="navbar">
      <li class="dropdown"><a>Exercise <i class="fa fa-caret-down" style="color: white;"></i></a>
         
         <div class="dropdown_content">
            <a href="/routine">Routine</a>
            <a href="/help">Help</a>
         </div>
      </li>
      <li><a href="/testimonial">Testimonial</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="#ContactUs">Contact Us</a></li>
      
   </ul>
   
</nav>
</div>

