{% extends 'layout.html' %}
{% block content %}
    <h1 class="title">Routines</h1>
    <div class="routine">
        <!-- Each routine content class contains a hyperlink to a specific exercising page. -->
        <div class="routine_content">
            <a href="/exercisenow/{{(routines[0])[0]}}"><img src="/static/Pictures for routine page/arm-crop.jpg" height="400" width="400"><p>{{ (routines[0])[1] }}</p></a>
            <!-- Each routine description class contains the description of a specific workout(same description in exercise now page) -->
            <!-- Contents in here will appear with fade affect on Hover -->
            <div class="routine_description"> 
                <p>{{ (description[0])[0]|safe }}</p> 
            </div>
        </div>
        <div class="routine_content">
            <a href="/exercisenow/{{(routines[1])[0]}}"><img src="/static/Pictures for routine page/back-crop.jpg" height="400" width="400"><p>{{ (routines[1])[1] }}</p></a>
            <div class="routine_description">
                <p>{{ (description[1])[0]|safe }}</p>
            </div>
        </div>
        <div class="routine_content">    
            <a href="/exercisenow/{{(routines[2])[0]}}"><img src="/static/Pictures for routine page/upperbody-crop.jpg" height="400" width="400"><p>{{ (routines[2])[1] }}</p></a>
            <div class="routine_description">
                <p>{{ (description[2])[0]|safe }}</p>
            </div>
        </div>
        <div class="routine_content">      
            <a href="/exercisenow/{{(routines[3])[0]}}"><img src="/static/Pictures for routine page/legs-crop.jpg" height="400" width="400"><p>{{ (routines[3])[1] }}</p></a>
            <div class="routine_description">
                <p>{{ (description[3])[0]|safe }}</p>
            </div>
        </div>
        <div class="routine_content">    
            <a href="/exercisenow/{{(routines[4])[0]}}"><img src="/static/Pictures for routine page/abs-crop.jpg" height="400" width="400"><p>{{ (routines[4])[1] }}</p></a>
            <div class="routine_description">
                <p>{{ (description[4])[0]|safe }}</p>
            </div>
        </div>
        <div class="routine_content">
            <a href="/exercisenow/{{(routines[5])[0]}}"><img src="/static/Pictures for routine page/10min_fire-crop.jpg" height="400" width="400"><p>{{ (routines[5])[1] }}</p></a>
            <div class="routine_description">
                <p>{{ (description[5])[0]|safe }}</p>
            </div>
        </div>
        <div class="routine_content">   
            <a href="/exercisenow/{{(routines[6])[0]}}"><img src="/static/Pictures for routine page/all_combined-crop.jpg" height="400" width="400"><p>{{ (routines[6])[1] }}</p></a>
            <div class="routine_description">
                <p>{{ (description[6])[0]|safe }}</p>
            </div>
        </div>
        <div class="routine_content">
            <a href="/exercisenow/{{(routines[7])[0]}}"><img src="/static/Pictures for routine page/core-crop.jpg" height="400" width="400"><p>{{ (routines[7])[1] }}</p></a>
            <div class="routine_description">
                <p>{{ (description[7])[0]|safe }}</p>
            </div>
        </div>
        <div class="routine_content">    
            <a href="/exercisenow/{{(routines[8])[0]}}"><img src="/static/Pictures for routine page/5min_destroyer-crop.jpg" height="400" width="400"><p>{{ (routines[8])[1] }}</p></a>
            <div class="routine_description">
                <p>{{ (description[8])[0]|safe }}</p>
            </div>
        </div>    
        <div class="routine_content">    
            <a href="/exercisenow/{{(routines[9])[0]}}"><img src="/static/Pictures for routine page/arm(hard)-crop.jpg" height="400" width="400"><p>{{ (routines[9])[1] }}</p></a>
            <div class="routine_description">
                <p>{{ (description[9])[0]|safe }}</p>
            </div>
        </div>
        <div class="routine_content">
           <a href="/exercisenow/{{(routines[10])[0]}}"><img src="/static/Pictures for routine page/back(hard)-crop.jpg" height="400" width="400"><p>{{ (routines[10])[1] }}</p></a>
           <div class="routine_description">
            <p>{{ (description[10])[0]|safe }}</p>
        </div>
        </div>
    </div>
{% endblock %}


