{% extends 'layout.html' %}

{% block content %}
    <!-- My cringe testimonial, please don't read -->
    <div class="information_layout">
        <div class="information_layout_element">
        <h2>Everyone starts from the same spot</h2>
        <p>I first started my workout through a School Health Program. During PE class, we had this challenge 
            where I have to workout a specific part of my body which I think that needs development, 
            leaving the evidence of the workouts that I have done. I downloaded a squat challenge from the 
            google play, and proceeded on the challenge without a rest. First day, I wans't able to do many squats 
            and have struggled a bit in doing them. It also gave me some pains in my legs that gve me some inconviniences
            while walking to school. I did the challenge everyday, which increses the amount of squats everyday even though
            my legs felt like they would snap. But once the challenge was over, I was totally satisfied at how much muscles that I 
            have developed. With the support of developed meg muscles, it made me feel lighter in everyday walking and this allowed
            me to run further, and faster in a school cross counrty. After experiencing the positive affects of fitness, 
            I decided to develope other parts of my bodies too, starting from arms, abs to back.</p>
        </div>
        <div class="information_layout_element">
        <h2>Perseverance is what made me now</h2>
        <p>Ofcourse I had the days that I really didn't want to workout, days that I become more lazy and tired. 
            But overcoming those days really gave me triumph of overcoming myself. 
        </p>
        <p>Perseverance is really important in fitness, and it probably is important in many other things including study
        or other diciplines. Overcoming process is meant to be hard, otherwise everybody will be fit, smart, and will be 
        good at everything. But at the end of the process, you will be able to find yourself smiling. Don't try to make excuses!
        No excuses are not accepted unless you are in a condition where rest is required for healing from a injury.
        </p>
        </div>
    </div>
{% endblock %}